<ion-view view-title="Add a Idea">
        <ion-content>
          <div class="list list-inset" ng-controller="addController">
            <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Idea name</span>
            <input type="text" ng-model="recName">
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Problem Statment</span>
            <textarea rows="10" cols="10" ng-model="recIngredients"></textarea>
          </label>
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Solution Details</span>
            <textarea rows="10" cols="10" ng-model="recDirections"></textarea>
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Status</span>
            <input type="text" ng-model="recstatus">
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Last upDate</span>
            <input type="date" ng-model="recDate">
          </label>
          <div class="item button button-block button-positive" ng-model="addButton" ng-disabled="!recName||!recIngredients||!recDirections" ng-click="submitRecipe()" >
          Add Idea
          </div>
        </ion-content>
      </ion-view>