<ion-view style="" title="Welcome -QISBook ">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/DDKcya5HQvWTPZsXqxvF_index.jpeg) no-repeat center;">
        <h3 style="">Welcome to the Land of Ideas!</h3>
        <div style="width: 283px; height: 29px;" class="spacer"></div>
        <div style="">
            <p>QIS is the land of ideas. The “QIS – Land of Ideas” initiative works with different practioners to carry out projects and hold innovation to focus attention on the client and their success.</p>
        </div>
        <div style="width: 283px; height: 142px;" class="spacer"></div>
        <a style="" class="button button-positive button-block " href="#/login">Login</a>
        <a style="" class="button button-balanced button-block " href="#/signup">SignUp</a>
    </ion-content>
</ion-view>